/* Global Area */

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #F4D03F;
    background-image: linear-gradient(153deg, #F4D03F 0%, #16A085 100%);
    background-size: cover;
    color: white;
}

/* Content Area */

#main {
    width: 100%;
    max-width: 960px;
    margin: 200px auto;
    height: 100%;
    overflow: auto;
}



p{
    font-family: 'KoHo', sans-serif;
    line-height: 20px;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}
.text-left {
    width: 60%;
    float: left;
    height: auto;
}

.image-right {
    width: 40%;
    float: right;
}

.image-right img {
    border-radius: 50%;
    box-shadow: 1px 6px 5px black;
}


#btn {
    width: 110px;
    height: auto;
    font-size: 15px;
    font-weight: bold;
    padding: 9px;
    border-radius: 30px 0px;
    color: white;
    background: crimson;
    margin-top: 20px;
    box-shadow: 0 40px 100px -20px black;
}

#btn a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'KoHo', sans-serif;
    letter-spacing: 1px;
}

#btn:hover {
    background-color: aqua;
}

.text-left ul {
    list-style: none; 
    margin-top: 5px;
}

.text-left ul li {
    display: inline-block;
    font-size: 35px;
    padding-left: 0px;
    padding-right: 25px;
    margin-top: 10px;
}


.footer {
    text-align: center;
}
/* Link Style */

.text-left ul a {
    color: white;
}

.text-left ul a:hover {
    color: lawngreen;
}

.text-left ul a:link {
    font-size: 40px;
}


.text-left ul a:focus {
    color: darkviolet;
}